footer {

    .footer-left {
        display: flex;
        align-items: center;

        p {
            margin: 0 10px;
            font-size: 18px;
        }

        img {
            width: 50px;
        }

    }

    .nav-link {
        display: flex;

        .title-list {
            font-size: 18px;
            margin-bottom: 10px;
        }

        ul {
            @include ul;
            // list-style-type: none;
            // margin: 0;

            li {
                line-height: 30px;
                font-size: 14px;
                width: 130px;

                a {
                    color: $link_color_footer_menu
                }
            }
        }
    }

}
