$background_primario: #ffffff;
$background_secondario: #ffe7d2;
$link_color: #30488f;
$link_color_menu: #58402c;
$link_color_footer_menu: #58402c;
$background_section_primario: #ffe7d2;
$margin_bottom_text: 30px;
$margin_row: 80px;
$color_text: #58402c;
$background_btn_primario: #fff;
$background_btn_secondario: #30488f;
